<h1 class="header">Edit User</h1>
<form action="/manage/user/{{user._id}}" method="POST">
<p>Email : </p>
<input type="text" name="email" value="{{user.email}}">
<input type="submit" value="Submit">
</form>