<h1>{{title}}</h1>
<p>Welcome to {{header}}</p>
{{{succcessRegister}}}
{{#if state}}
    <p>Welcome coi</p>
{{else}}
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
{{/if}}