<h1>Login</h1>
<form action="/login" method="POST">
    <li style="list-style:none;">
        <ul>
            <input type="text" name="email" placeholder="Email">
        </ul>
        <ul>
            <input type="password" name="password" placeholder="Password">
        </ul>
        <ul>
            <input type="submit" value="Submit">
        </ul>
    </li>
    <h3>{{{state}}}</h3>
</form>